@model List<string>

<html>
<head>
    <title>Error</title>
    <style>
        body {
            color: red;
        }
    </style>
</head>
<body>
    <h2>Errors</h2>
    @if (Model != null && Model.Count > 0)
    {
        <ol>
            @foreach (var errorMessage in Model)
            {
                <li>@errorMessage</li>
            }
        </ol>
    }
</body>
</html>
